/.obsidian/
/.idea/
/self-development/.idea/material_theme_project_new.xml
/self-development/.idea/misc.xml
/self-development/.idea/modules.xml
/self-development/.idea/self-development.iml
/self-development/.idea/vcs.xml
